/* Start adding your styling below! */

body {
  background-color: yellow;
}

h1 {
  font-size: 36px;
}

p {
  color: green;
}

#cool-text {
  color: blue;
}

#list-color {
  color: magenta;
}

.center {
  text-align: center;
}
